<div>
  <table class="table">
    <thead class="h">
      <tr class="h">
        <th class="h">Title</th>
        <th class="h">Url</th>
      </tr>
    </thead>
    <tbody>

      <tr (dblclick)="editContestant(contestant)" *ngFor="let contestant of contestants">

        <ng-container *ngIf="!editContestants.includes(contestant); else editTD">
          <td>{{contestant.title}}</td>
          <td>
            <a href="http://{{ contestant.url }}">{{contestant.url | ellipsis: 25}}</a>
          </td>
        </ng-container>

        <ng-template #editTD>
          <td>
            <input type="text" name="title" id="title" [(ngModel)]="contestant.title" placeholder="Title" class="form-control">
          </td>
          <td>
            <input type="text" name="url" id="url" [(ngModel)]="contestant.url" placeholder="Contestant" class="form-control">
          </td>
        </ng-template>

        <td>
          <button class="btn btn-primary" (click)="editContestant(contestant)">
            edit
          </button>
          <button class="btn btn-danger" (click)="deleteContestant(contestant)">
            delete
          </button>
        </td>
      </tr>
      <tr>
        <ng-template #editTD>
          <td>
            <input type="text" name="title" id="title" (keypress)="submitContestant($event, todo)" [(ngModel)]="contestant.title" placeholder="Title"
              class="form-control">
          </td>
          <td>
            <input type="text" name="description" id="description" (keypress)="submitContestant($event, todo)" [(ngModel)]="contestant.url"
              placeholder="Url" class="form-control">
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>


  <form>
    <div class="form-row">

      <div class="col-md-5">
        <input type="text" name="title" id="title" [(ngModel)]="newContestant.title" placeholder="Title" class="form-control">
      </div>
      <div class="col-md-5">
        <input name="description" id="description" [(ngModel)]="newContestant.url" placeholder="Url" class="form-control" id="description">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
      </div>
    </div>
  </form>
</div>