<body>
  <div class="row">
    <div class="col-md-4">
      <category-list></category-list>
    </div>
    <div class="col-md-8 bg-light">

      <div class="todos">
        <table class="table">
          <thead class="h">
            <tr class="h">
              <th class="h">Title</th>
              <th class="h">Description</th>
              <th class="h">Date</th>
              <th class="h">Status</th>
              <th class="h">Options</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</body>